	html
	{	margin: 0;
		padding: 0;
		box-sizing: border-box;
		height: 100%;
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		font-size: 11pt;
		font-weight: 400;
	}
	
	

	
	p, ol, ul
	{
		margin-top: 0;
	}
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	

	p.anim
	{
		line-height: 180%;
		animation-iteration-count: unset;
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		letter-spacing: 1pt;
	}
	


	
	.onglet
	{
		color: rgb(73, 73, 73);
	}
	
	.onglet:hover
	{
		text-decoration: none;
	}
	
h2{

		color: rgb(65, 65, 65);
		padding: 20px;
		text-transform: uppercase;
		letter-spacing: 1pt;
		padding-top: 70px;
		font-family: 'Cormorant Garamond', serif;
	}
	

/*________________ MENU______________*/

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    background-color: white;
    padding-top: 40px;
}
.logo{

	width: 150px;
	padding-bottom: 50px;
}
#accueil{

	width: 90%;
	display: flex;
	justify-content: space-between;
}

div.logotype{
	width: 100%;
	display: flex;
	justify-content: start;

}



nav {
	width: 50%;
    display: flex;
	justify-content: space-around;
	padding-bottom: 50px;
	
}
nav ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}
nav ul li .onglet {
    text-decoration: none;
    color: #363636;
    text-transform: uppercase;
    font-family: 'Montserrat';
    border-bottom: 3px solid transparent;
    font-size: 15px;
    padding-bottom: 5px;
    transition: 0.5s;
}
nav ul li .onglet:hover {
    border-bottom: 3px solid #948174;
    padding-bottom: 5px;
    transition: 0.8s;
}

/*________________ ACCUEIL______________*/

section.fleuriste{
	width: 70%;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;	
}


.fond-accueil{

		width: 90%;

}

div.photoaccueil{

	width: 90%;
}


/*________________GALERIE______________*/


.container{

	margin: 0 auto;
	width: 1140px;
  }
 
  
  .gallery-wrap {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 60vh;
  }
  
  .photo {
	flex: 1;
	height: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: none;
	transition: flex 0.8s ease;

}
.photo:hover{
	  flex: 3;
	}
  
  .item-1 { 
	background-image: url(../images/bouquet.jpg);
  }
  
  .item-2 { 
	background-image: url(../images/fleurs.jpg);
  }
  
  .item-3 { 
	background-image: url(../images/vase-fleur.jpg);
	
  }
  
  .item-4 { 
	background-image: url(../images/fleurs-seche.jpg);
  }
  
  .item-5 { 
	background-image: url(../images/fleurs-jaune.jpg);
  }
  
  .social{
	position: absolute;
	right: 35px;
	bottom: 0;
  }




  @media screen and (min-width: 500px) and (max-width: 1200px){


	.container{
	
		margin: 0 auto;
		width: 90%;
	  }
	
	}
	


@media screen and (max-width: 500px){


.container{

	margin: 0 auto;
	width: 90%;
  }

}





/*________________ATELIER______________*/



#atelier
	{
		background: rgb(226, 124, 106);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: 150px;
		
	}


#histoire
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	width: 50%;
	padding: 80px;
	text-align: center;
	color: rgb(255, 255, 255);
}



h2.decouvrir
{
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	letter-spacing: 1pt;
	margin: 0;
	font-family: 'Cormorant Garamond', serif;
}



/*________________SERVICES______________*/

.titreservice{

	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.icon

#services
	{

		overflow: hidden;
		padding: 0em 0em 8em 0em;
		background: #FFF;
		overflow: hidden;
		padding: 8em 0em 4em 0em;
	}


	
.lesservices{

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	}
	
div.box
	{
		text-align: center;
		color: rgba(0,0,0,0.7);
		padding: 50px;
		margin: 20px;
		box-shadow: 1px 1px 3px rgb(219, 178, 178);
		transition: 1.1s;
	}
	

.box:hover
	{
		text-align: center;
		color: rgba(0,0,0,0.7);
		padding: 50px;
		margin: 20px;
		transform: scale(1.2);
		transition: 1.1s;
	}
	

div h3
	{
		display: block;
		padding-bottom: 1em;
		text-transform: uppercase;
		font-size: 1em;
		color: rgba(0,0,0,0.9);
	}

div .titre
	{
		margin-bottom: 5em;
		text-align: center;
	}

	


.colonne
	{
		width: 282px;
		float: left;
	}

.button{

	text-decoration: none;
	text-transform: uppercase;
	color: rgb(233, 109, 109);
}



/*________________ATELIER______________*/

#vente
	{
		background: rgb(255, 240, 238);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: 120px;
		
	
		
	}


p.lesventes
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 80%;
	font-size: 16px;
	text-align: center;
	color: rgb(95, 95, 95);
	line-height: 180%;
	animation-iteration-count: unset;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	letter-spacing: 1pt;
}



h2.acheter
{
	color: rgb(65, 65, 65);
	text-transform: uppercase;
	letter-spacing: 1pt;
	margin: 0;
	font-family: 'Cormorant Garamond', serif;
}




button{
    width: 190px;
    color: white;
    background-color: rgb(56, 56, 56);
    padding: 15px;
    text-transform: uppercase;
    border: 0;
    margin-top: 20px;
	transition: 0.5s;
	margin-bottom: 40px;
}

button:hover{

    width: 190px;
    color:rgb(56, 56, 56);
    background-color: white;
    padding: 15px;
    text-transform: uppercase;
    border: 0;
    margin-top: 30px;
	transition: 0.6s;
	
}




/* Footer */

#footer {

	width: 60%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}

div.contact{

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding-top: 30px;
	padding-bottom: 30px;
	justify-content: center;
	align-items: center;
	color: #5e5c5a;
	text-transform: uppercase;
	font-size: 14px;

  }


.creation{

	background-color: rgb(59, 59, 59);
	display: flex;
	color: white;
	justify-content: center;
}

a.mentions{

	color: white;
}



  


